@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Gotu", sans-serif;  
}
body {
  
    font-family: Arial, sans-serif;
    position: relative;
    margin: 0;
  
}
:root {
    --product-color: #B06F31;
}

header {

    padding: 10px 0;
    text-align: center;
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s ease;
 
}

header a {
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    margin: 0 21px;
    
   
}

header div {
  width: 30%;
}

header div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;    
}

header div:last-child div {
    background-color:#000;
    width: fit-content;
    padding: 8px 25px;
    color: #fff;
    font-weight: bold;
    border-radius: 100px;
    cursor: pointer;

}

.logo {
    font-family: 'Great Vibes', cursive;
    font-weight: bold;
    
}
.home {
    display: flex;
    padding-top: 80px;

}
.home .right{
    width: 50%;
    display: flex;
    justify-content: center;
    height: fit-content;

}

.home img {
   width: 53%;
    box-shadow: 0px 0px 15px 1px rgba(176, 111, 49, 0.7);

}

.home .left {

    width: 50%;
    padding: 100px;
    padding-bottom: 0;
    z-index: 100;
    height: fit-content;
}

.left span:first-child {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
color: var(--product-color);

}

.left p {
    font-family: "Gotu", sans-serif;   
     font-size: 3rem;
     font-weight: 600;
     margin: 20px 0 ;
   

}

.left .descreption {
    color: #808080;
    font-size: 1.1rem;
    font-family: "Gotu", sans-serif;  
 
}

.buy {
    margin-top: 50px;
    color: #fff;
    background-color: var(--product-color);
    
    width: fit-content;
    padding: 14px 47px;
    border-radius: 100px;
    font-weight: bold;
    cursor: pointer;
    
    box-shadow: 0px 0px 15px 1px rgba(176, 111, 49, 0.7);
}

.circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(135deg, #ff00cc, var(--product-color));
    border-radius: 50%;
    filter: blur(100px);
    margin-top: 50px;
    top: 15%;
    left: 25%;
  }





.aboutProduct {
    display: flex;
    /* padding-top: 80px; */
}

.aboutLeft {

    width: 50%;
    padding: 100px;
    padding-top: 40px;
  position: relative;
    z-index: 100;
}

.aboutRight{
    position: relative;
    width: 50%;
   padding: 0 100px 0 0;
   
    padding-top: 70px;

}  

.aboutLeft  img {
    width:80%;
  
    box-shadow: 0px 0px 15px 1px rgba(176, 111, 49, 0.7);


}

.aboutLeft img:nth-child(2){
    width: 25%;
    position: absolute;
    left: 60%;
    top: 65%;
    

}


.why {
    
    width: 100%; 
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.why span {
    font-family: 'Satisfy', cursive;
    color: var(--product-color);
    font-size: 2rem;
}

.aboutRight h2 {
    font-size: 2.3rem;
}

.aboutRight .circle {
    opacity: 0.6;
} 

.features {
    display: flex;
    margin-top: 70px;
    width: 100%;
    justify-content: space-between;
}

.features div{
display: flex;
flex-direction: column;
align-items: center;
border: 1px dashed rgba(176, 111, 49, 0.5);

padding:20px 10px;
border-radius: 10px;
width: 30%;
}

.features div img {
    width: 40px;
}